.premium-cinema {
  display: flex;
  justify-content: center;
  padding: 10px 10px 40px;
  overflow: visible;
}

.premium-cinema-row {
  display: flex;
  gap: 25px;
  align-items: flex-end;
  padding-bottom: 10px;
}

.premium-table-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.premium-table-code {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  background: #b32020; /* rouge code table */
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
}

.premium-table-area {
  display: flex;
  align-items: center;
  gap: 2px;
}

.premium-table-rect {
  width: 34px;
  height: 65px;
  background: #f0b4b4; /* rouge clair disponible */
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.premium-table-rect.active {
  background: #ff8c1a; /* orange sélection table */
}

.premium-chairs {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.premium-chair {
  width: 18px;
  height: 22px;
  background: #9a9a9a; /* gris foncé disponible */
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 0.2s ease;
}

.premium-chair.active {
  background: #ff8c1a; /* orange sélection chaise */
  color: #9a9a9a;
}


.premium-chair.reserved {
  background-color: orange;
  cursor: not-allowed;
}

.premium-chair.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.premium-table-rect.reserved {
  background-color: orange;
  cursor: not-allowed;
}

.premium-table-rect.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}







