.red-salons-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.red-salon-row {
  display: flex;
  gap: 30px;
}

.red-salon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-salon-code {
  width: 50px;
  height: 30px;
  background-color: #b91c1c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  border: 2px solid white;
  margin-bottom: -12px;
  z-index: 2;
}

.red-salon {
  width: 80px;
  height: 60px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

/* Disponible */
.red-salon.available {
  background-color: #b91c1c;
}

/* Sélectionné */
.red-salon.active {
  background-color: orange;
}

/* Réservé */
.red-salon.reserved {
  background-color: orange;
  cursor: not-allowed;
}

/* N'existe pas */
.red-salon.disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
